<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.philio.ghost">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To manage, add, remove accounts, sync, etc -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="me.philio.ghost.GhostApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <!-- ActiveAndroid database settings -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ghost.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="
                    me.philio.ghost.model.Blog,
                    me.philio.ghost.model.Post,
                    me.philio.ghost.model.Setting,
                    me.philio.ghost.model.Tag,
                    me.philio.ghost.model.User,
                    me.philio.ghost.model.PostTag" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="
                    com.activeandroid.serializer.UUIDSerializer" />

        <!-- Activities -->
        <activity
            android:name="me.philio.ghost.ui.SplashActivity"
            android:theme="@style/Theme.Ghost.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.philio.ghost.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Ghost.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="me.philio.ghost.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Ghost.Light.NoActionBar.NavigationDrawer" />

        <!-- ActiveAndroid content provider -->
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:label="@string/provider_sync_name" />

        <!-- Account authenticator service -->
        <service
            android:name="me.philio.ghost.account.AuthenticatorService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/provider_sync_name">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Sync adapter service -->
        <service
            android:name="me.philio.ghost.sync.SyncService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>
</manifest>
